*{
    margin: 0px;
    padding: 0px;

}
.header-container{
    background-image: url(./assets/hero-bg.png);
    max-width: 100%;
    background-size: 100%;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* background: var(--Linear, linear-gradient(237.26deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); */
    height: 60px;
    align-items: center;

}
/* .techwave{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.TECH{
    color: aliceblue;
   
}
.WAVE{
    color: rgba(251, 9, 174, 1);
}
.nav-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  
}
.nav-mid a{
    text-decoration: none;
    gap: 20px;
      color: aliceblue;
}
.nav-btn{
    background: var(--Linear, linear-gradient(237.26deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    display: flex;
    gap: 4px;
    color: aliceblue;
    padding: 12px;
    border: none;
    height: 44px;
    margin-right: 20px;

}


.hero-techwave-part{
    color: aliceblue;
}
.hero-small-letter{
    font-size: small;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding-bottom: .8rem;
}
.hero-techwave-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   


    .hero-btn{
        display: flex;
        gap: .3rem;
    }
    .Listen-on-spotify{
        background-color: rgba(251, 9, 180, 1);
        color: aliceblue;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding-left: .2rem;
        padding-right: .2rem;
        border: none;
    }
    .Subscribe{
        background-color:none;
      color: #00FF88;
    border: #00FF88 solid;
    border-radius: 5px;
    background-color: transparent;
     padding-left: .3rem;
     padding-right: .3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: .2rem;
      
    }
    .new-btn{
        
    }
    .hero-container .hero-new{ 
        color:black;
        background-color: #00FF88;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
    }
.hero-container .circle{
    width: 170px;
    height: auto;

}
.hero-container .mic{
    width: 70px;
    height: auto;
    
   
}
.pic-container{
    background-color: #00FF88;
}
.about-sec{
    
}
.About-section-parent{
    font-weight: 100;
    color: aliceblue;
    background: rgba(26, 11, 46, 1);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    
}
.About-section-parent .ABP{
padding-bottom: 20px;
}
.rating-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(26, 11, 46, 1);;
    padding: 20px;
    
}
.rating-cart,.p{
    color: aliceblue;
}
.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
