*{
    margin: 0px;
    padding: 0px;
    max-width: 1600px;
    font-family: 'inter',sans-serif;
   font-weight: 300;


}
.header-container{
    background-image: url(./assets/hero-bg.png);
    /* max-width: 100%; */
    background-size:cover;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
   
   
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* background: var(--Linear, linear-gradient(237.26deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); */
    height: 60px;
    align-items: center;

}
/* .techwave{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.TECH{
    color: aliceblue;
   
}
.WAVE{
    color: rgba(251, 9, 174, 1);
}
.nav-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  
  
}
.nav-mid a{
    text-decoration: none;
    gap: 20px;
      color: aliceblue;

}
.hamburger-menu{
    display: none;
}
.nav-btn{
    background: var(--Linear, linear-gradient(237.26deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    display: flex;
    gap: 4px;
    color: aliceblue;
    padding: 12px;
    border: none;
    height: 44px;
    margin-right: 20px;
   

}


.hero-techwave-part{
    color: aliceblue;
}
.hero-small-letter{
    font-size: small;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding-bottom: .8rem;
}
.hero-techwave-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   


    .hero-btn{
        display: flex;
        gap: .3rem;
    }
    .Listen-on-spotify{
        background-color: rgba(251, 9, 180, 1);
        color: aliceblue;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding-left: .2rem;
        padding-right: .2rem;
        border: none;
    }
    .Subscribe{
        background-color:none;
      color: #00FF88;
    border: #00FF88 solid;
    border-radius: 5px;
    background-color: transparent;
     padding-left: .3rem;
     padding-right: .3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: .2rem;
      
    }
    
    .hero-container .hero-new{ 
        color:black;
        background-color: #00FF88;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
    }
.hero-container .circle{
    width: 170px;
    height: auto;

}
.hero-container .mic{
    width: 70px;
    height: auto;
    
   
}
.pic-container{
    
    position: relative;
}
.mic{
    position: absolute;
    left: 50px;
    top: 28px;
}
.hero-new{
    position: absolute;
    left: 120px;
}
.about-sec{
    
    
}
.About-section-parent{
    font-weight: 100;
    color: aliceblue;
    background: rgba(26, 11, 46, 1);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    
}
.About-section-parent .ABP{
padding-bottom: 20px;
}
.rating-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(26, 11, 46, 1);;
    padding: 20px;
    
}
.rating-cart,.p{
    color: aliceblue;
}
.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.why-choose {color: aliceblue;
    text-align: center;
    justify-content: center;
    padding: 10px;
grid-area: header;
}

.mobile-friendly{
    grid-area: main-top;
    color: white;
    background: rgba(53, 17, 101, 0.4);
    border: rgba(53, 17, 101, 0.4) solid 1px;
    border-radius: 8px;
    padding: 30px;
    
}
.Global-Community{
    grid-area: main-bottom;
    color: white;
    background: rgba(53, 17, 101, 0.4);
    border: rgba(53, 17, 101, 0.4) solid 1px;
    border-radius: 8px;
     padding: 30px;
}

.sidebar{
    grid-area: nav;
    color: aliceblue;
      background: rgba(53, 17, 101, 0.4);
    border: rgba(53, 17, 101, 0.4) solid 1px;
    border-radius: 8px;
     padding: 30px;
}
.footer-left{
    grid-area: footer-left;
    color: aliceblue;
      background: rgba(53, 17, 101, 0.4);
    border: rgba(53, 17, 101, 0.4) solid 1px;
    border-radius: 8px;
     padding: 30px;
}
.footer-right{
    grid-area: footer-right;
    color: aliceblue;
      background: rgba(53, 17, 101, 0.4);
    border: rgba(53, 17, 101, 0.4) solid 1px;
    border-radius: 8px;
     padding: 30px;
}
.Why-Choose-Section{ 
    background: rgba(26, 11, 46, 1);
    

    display: grid;
    gap: 20px;
    
    /* gap: 10px; */
    grid-template-areas: 
    "header      header      header      header        header        header"
    "nav         nav         main-top    main-top      main-top      main-top"
    "nav         nav         main-top    main-top      main-top      main-top"
    "nav         nav         main-bottom main-bottom   main-bottom   main-bottom"
    "nav         nav         main-bottom main-bottom   main-bottom   main-bottom"
    "footer-left footer-left footer-left footer-left   footer-right  footer-right"
    "footer-left footer-left footer-left footer-left   footer-right  footer-right"


}
.why-choose-techwave{
text-align: center;
    justify-content: center;
    padding-top: 20px;
 background: rgba(26, 11, 46, 1);
 color: aliceblue;
}
 

.why-choose-techwave-cart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 10px;
    padding-bottom: 50px;
     background: rgba(26, 11, 46, 1);
     gap: 10px;
     position: relative;

}
.yt-play{
    
   position: relative;
    right: 200px;
    bottom: 100px;

}
.cart-1 .cart-2 .cart-3, a{
    text-decoration: none;
    color: aliceblue;
    
}

.why-choose-techwave-cart,.cart-1, .cart-2, .cart-3{

    color: aliceblue;
    padding: 15px;
}
.why-choose-techwave, .p{
font-size: small;
}
.host-contaier{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
     background: rgba(26, 11, 46, 1);
}
.alex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
}
.meet-host{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 11, 46, 1);
    color: aliceblue;
    font-size: 2rem;
}
#sm{
    font-size: smaller;
    font-weight: 150px;
}
.host-contaier img{
    padding-left: 20px;
}

.footer-parent{
    background-image: url(./assets/footer-bg.png);
    background-position: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot-icn-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap:5px;

}
.flex-row-container{
    display: flex;
    flex-direction: row;
}
.footer-parent{
    min-height: 200px;
}
.hide{
    display: none !important;
}
@media screen and (max-width:576px){
    .header-container{
    background-image: url(./assets/hero-bg.png);
    /* max-width: 100%; */
    background-size:cover;
    min-height: 400px;
    background-position: center;
    /* background-repeat: no-repeat; */
   
   
  
}

   .host-contaier{
    display: flex;
    flex-direction:column;
    gap: 20px;
    padding: 10px;
     background: rgba(26, 11, 46, 1);
   
}
  .host-contaier img{
    align-items: center;
    justify-content: center;
  }
.alex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    
    align-items: center;
    
}
.sm{
    align-items: center;
   
}
.why-choose-techwave-cart{
     display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 10px;
    padding-bottom: 50px;
     background: rgba(26, 11, 46, 1);
     gap: 10px;
     position: relative;
}
.Why-Choose-Section{ 
    background: rgba(26, 11, 46, 1);
    

    display: grid;
    gap: 20px;
    
    /* gap: 10px; */
    grid-template-areas: 
     "header"
    "nav"
    "main-top"
    "main-bottom"
    "main-bottom"
    "footer-left"
    "footer-right"

   
}

.rating-cart{
    display: grid;
    flex-direction: row;
    grid-template-columns:repeat(2,1fr);
    background: rgba(26, 11, 46, 1);;
    padding: 20px;
    
}
.About-section-parent{
    padding: 100px;
}
/* .header-container{
    background-image: url(./assets/hero-bg.png);
    max-width: 100%;
    background-size: 100%
     */
  
}
.nav-mid,
.nav-btn{
    display: none;
}
.hamburger-menu{
    display:block;
    padding-right: 10px;

}
.flex-row-container{
    display: flex;
    flex-direction: column;
}
}